doctype html
html(lang="en")
    head
        title MinDtel
        link(href="/css/bootstrap.min.css" rel="stylesheet")
        link(rel="stylesheet" href="/css/bootstrap-theme.min.css")
        link(rel="stylesheet" href="/css/mindtel.css")
        link(rel="stylesheet" href="/css/typeahead.css")
        block jsLibraries
    body
        .container
            .row
                .col-md-12
                    H1 MinDtel
            .row
                #ButtonBar(class="col-sm-12 col-md-3 col-lg-2")
                    button#addNodeBtn(type="button" class="btn btn-default") New
                    .btn-group
                        button(type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false") Browse
                            span.caret
                        ul.dropdown-menu(role="menu")
                            each l in labels
                                li
                                    a(href=labelquery(l))!= l
                            
                #SearchBar(class="col-sm-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-6")
                    .input-group
                        #searchBox
                            input.form-control(class="typeahead" type="text" placeholder="Search")
                        a#searchBtn.input-group-addon(
                            class="btn btn-default" 
                            aria-label="Search")
                            span(
                                class="glyphicon glyphicon-search" 
                                aria-hidden="true")
            
            .vertical-strut-20
                
            .row
                .panel(class="col-md-12")
                    block content
            
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
        script(src="/js/bootstrap.min.js")
        script(src="/js/typeahead.bundle.js")
        script(src="/js/mindtel.js")
        script.
            $(document).ready(function() {
                $('#searchBtn').click(function() { 
                    window.location = '/node/search?q=' + $('#searchBox .typeahead').typeahead('val');
                });
                
                $('#addNodeBtn').click(function() {
                    window.location = 'new';
                });
            });
            
            $('#searchBox .typeahead').typeahead(null, {
                name: 'nodecomplete',
                displayKey: 'name',
                source: nodecomplete.ttAdapter()
            });                
                            
        block finalScript             